<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css">
    <link rel="stylesheet" href="css/style.css?ver=123">
    <title>That Big Ace Production</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('sections/navbar') %>
    <!-- End Navbar -->
    <!-- Hero -->
    <%- include('sections/hero') %>
    <!-- End Hero -->
    <!-- About -->
    <%- include('sections/about') %>
    <!-- End About -->
    <!-- Services -->
    <%- include('sections/services') %>
    <!-- End Services -->
    <!-- Services -->
    <%- include('sections/gallery') %>
    <!-- End Gallery -->
    <!-- Contact -->
    <%- include('sections/contact') %>
    <!-- End Contact -->
    <!-- Footer -->
    <%- include('sections/footer') %>
    <!-- End Footer -->
    <script src="js/script.js?ver=123"></script>   
</body>
</html>